<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="https://eventku.herokuapp.com/img/cover500x250.jpg">
    <meta property="og:description"     content="Tasyakur Wallimatul Khitan Rafif Aryazia Rahman"/>
    <title>Undangan Khitanan</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
<style>
    html, body {
    height: 100%;
    margin: 0;
  }
</style>
</head>
<body>
    <div class="container-fluid position-relative pb-2 full-height" style=" padding: 0; background-color: #dcc9b7;;">
        <img id="imgkananatas" src="/img/kiriatasrevisi.png" alt="">
        <img id="imgkananbawah" src="/img/kiribawah.png" alt="">
        <img id="imgkiriatas" src="/img/kananatas.png" alt="">
        <img id="imgkiribawah" src="/img/kananbawah.png" alt="">
            <div class="position-absolute  top-50 start-50 translate-middle">
                <h4 class="centerundangan"> Undangan Khitanan </h4>
                <h4>RAFIF ARYAZIA RAHMAN</h4>
                <a class="btn btn-success" href="/undangan/khitanan"> Lihat</a>
            </div>

    </div>
</body>
</html>