<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <h1>Roger Dev</h1>
    <p class="bg-primary">hello</p>
    <button type="button" class="btn btn-primary">test</button>
    <a href="/post">go to post</a>
</body>
</html>