<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="https://eventku.herokuapp.com/img/cover500x250.jpg">
    <meta property="og:description" content="Tasyakur Wallimatul Khitan Rafif Aryazia Rahman" />
    <meta property="og:audio" content="https://eventku.herokuapp.com/sound/khitan.mp3" />
    <meta property="og:audio:secure_url" content="https://eventku.herokuapp.com/sound/khitan.mp3" />
    <meta property="og:audio:type" content="audio/mpeg" />

    <title>Undangan Khitanan</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">

</head>

<body>
    <div class="visible" style="position:absolute;">
<!-- 
    <audio id="audioID" controls autoplay="true">
        <source src="horse.ogg" type="audio/ogg">
        <source src="/sound/khitan.mp3" type="audio/mp3">
        Your browser does not support the audio element.
    </audio> -->
    <h2>Sound Information</h2>
    <div id="length">Duration:</div>
    <div id="source">Source:</div>
    <div id="status" style="color:red;">Status: Loading</div>
    <hr>
    <h2>Control Buttons</h2>
    <button id="play">Play</button>
    <button id="pause">Pause</button>
    <button id="restart">Restart</button>
    <hr>
    <h2>Playing Information</h2>
    <div id="currentTime">0</div>
</div>

    <div class="container-fluid pb-5" style=" padding: 0; background-color: #dcc9b7;;">
        <div id="carouselExampleSlidesOnly margin-0" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/img/stay1revisi1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
        <div class="row justify-content-center pt-4 " style="border-top: 2px solid yellow ;">
            <!-- <hr class="margin-0"> -->
            <img style="width: 30%;" src="/img/lafadz2.png" alt="">
            <p class="text-center mt-3">Dengan mengharap Ridho Allah SWT.<br>Kami Memohon Doa dan Restu untuk anak kami
                tercinta<br>pada acara</p><br>
            <h3 class="text-center greatvibes">Tasyakur Wallimatul Khitan</h3>
            <h2 class="text-center name" style="color: #899853;">RAFIF ARYAZIA RAHMAN</h2>
            <p class="text-center"> Putra ke-2 dari bapak Abdul Rahman (Bomz) & ibu Hikmah Fajrina (Hikmah)</p>
            <span class="divide"></span>
            <p class="text-center"> yang insyaAllah akan dilaksanakan pada :</p>
            <h3 class="text-center"> MINGGU, 18 SEPTEMBER 2022</h3>
            <h5 class="text-center"> PUKUL 10:00-15:00 WIB</h5>

            <p class="text-center">DI KEDIAMAN KAMI</p>
            <p class="text-center">Jl.raya pahlawan no.14 rt.002 rw.009 kp.bulak poncol gg.H.Arbaa cinangka sawangan
                depok 16516 </p>
            <!-- <p class="text-center">Sawangan - Depok</p> -->
            <span class="divide text-center"></span>
            <p class="text-center">Doa Untuk Anak Kami<br>"Ya Allah Muliakanlah anak kami, Berkahkanlah
                umurnya,<br>Terangkanlah hatinya, Teduhkanlah imannya,<br>Perbaikilah amal perbuatannya, Lapangkanlah
                rezekinya,<br>Dekatkanlah kepada kebaikan<br>dan Jauhkanlah dari Keburukan..Aamiin"</p>
            <p class="text-center">Atas kehadiran serta Doa Restu Bapak/Ibu/Saudara/i,<br>Kami ucapkan terimakasih</p>




        </div>
        <div class="row justify-content-center">
            <div class="col maps col-sm-10">
                <h4 class="text-center" style="color: #fffffa;">DENAH LOKASI</h4>

                <div class="imground">
                    <a href="http://maps.google.com?q=-6.3671599276521285,106.7561711857214"><img
                            src="/img/location.png" style="width: 100%;" alt="click to location"></a>
                </div>
            </div>
        </div>



    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script src="/js/script.js"></script>
</body>


</html>